target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
.idea/**
out
test-output
atlassian-ide-plugin.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store